@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

@using UI_Layer.Models
@model UserEditViewModel

<form method="post">
    <label>Ad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Soyad</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Resim Yolu</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Mail Adresi</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    
    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>


