
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>404 sayfası, kayıp mı oldunuz?</h1>
<br />
<a href="/Employee/Index/" class="btn btn-outline-secondary">Ana sayfaya dön</a> 

