
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

@model Entity_Layer.Message

<div class="container">
    <h1>Yeni Mesaj Sayfası</h1>

    <form method="post">
        <label>Alıcı Mail</label>
        <input type="text" asp-for="ReceiverMail" class="form-control" />
        <br />
        <label>Başlık</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <br />
        <label>Mesaj</label>
        <input type="text" asp-for="MessageContent" class="form-control" />
        <br />
        <button class="btn btn-warning">Gönder</button>
    </form>
</div>


